body {
  background-color: #FFF;
  color: #000;
  font-family: 'Museo Sans';
  font-weight: 300;
  font-size: 14px;
}

.active-container {
  margin: 0 auto;
  display: block;
  max-width: 960px;
  background-color: #FFF;
}

.container {
  width: 100%;
}

#kaspersky-logo {
  margin-bottom:10px;
  float: right;
  margin-right: 10px;
  padding-right: 10px;
  margin-left: 0;
}

.footer-div {
  padding: 10px 10px 0px 10px;
  margin: 40px 0 40px 0;
}

.footer-container {
  width: 960px;
  margin: 0 auto;
  display: block;
}

a {
  text-decoration: underline;
  color: #006d55;
}

a:hover {
  text-decoration: underline;
  color: #006d55;
}

p.footer {
  font-size: 13px;
  text-align: left;
}

a.footer {
  text-decoration: underline;
  color: #006d55;
}

.powered-by {
  float: right;
  width: 170px;
  height: auto;
}

.nav-fun {
  margin: 20px auto;
  margin-top: 40px;
  width: 97%;
  padding-right: 10px;
  padding-left: 10px;
}

ul.nav-bar {
  margin-top: 10px;
  margin-bottom:10px;
  padding-left: 0;
  float: left;
  display: inline-flex;
  justify-content: flex-start;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar li a {
  text-transform: uppercase;
  color: #006d55;
  text-decoration: none;
  font-weight: 900;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-bar li a.home-nav-tab {
  padding-left: 0;
} 

.nav-bar li a:hover {
  color: #006d55;
}

li.selected a {
  color: #006d55;
}

a {
  color: #006d55;
  text-decoration: underline;
}


h1 {
  text-align: center;
  color: #006d55;
  text-transform: uppercase;
  padding: 50px 0 0 0;
  font-family: 'Museo Sans';
  font-weight: 900;
  font-size: 28px;
}

p.faq-header {
  color: #000;
  padding: 30px 0 15px 0;
  font-family: "museo-sans",sans-serif;
  font-weight: 900;
  text-align: center;
}

p.terms-header {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 15px;
}

p.terms-header-2 {
  font-size: 16px;
  font-weight: 600;
}

.terms-container, .privacy-container, .faq-container {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.faq-question {
  margin-bottom: 15px;
  color: #006d55;
  font-weight: 900;
}

.faq-answer {
  margin-bottom: 25px;
  color: #000;
}

.background {
  display: block;
}

.get-started {
  display: block;
  margin-top: 550px;

}

#background_cycler{
  padding:0;
  margin:0;
  width: 100%;
  position: relative;
  display: block;
  z-index: 2;
}

#background_cycler img {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  z-index:1;
  padding: 0;
  margin: 0;
}

#background_cycler img.active-image{
  z-index:3;
  width: 100%;
}

.row {
  height: auto;
}

.green-box {
  background-color: #e0f0ed;
  min-height: 300px ;
  height: auto;
}

.white-box {
  background-color: #FFF;
  min-height: 300px ;
  height: auto;
}

ol.get-started-list {
  width: 75%;
  margin: 0 auto;
  display: block;
  counter-reset: li;
  padding-bottom: 30px; 
}

ol.get-started-list > li {
  position: relative;
  list-style-position: outside;
  margin:0 0 6px 2em;
  list-style: none;
}

ol.get-started-list > li:before {
  content: counter(li);
  counter-increment:li;
  position: absolute;
  color: #006d55;
  top:-2px;
  left:-2em;
  font-size: 18px;
  font-weight:bold;
  text-align:center;
}

p.get-started-p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.get-started-h2 {
  color: #006d55;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

.bump-50 {
   margin-top: 50px;
}

.bump-40 {
  margin-top: 40px;
}

.bump-30 {
  margin-top: 30px;
}

.bump-20 {
  margin-top: 20px;
}

.bump-0 {
  margin-top: 0;
}

.get-started-image-left {
  margin: 0 auto;
  display: block;
  width: 75%;
}

.get-started-image-right {
  margin: 0 auto;
  display: block;
  width: 75%;
}

.get-started-button {
  color: #FFF;
  background-color: #ed1c24;
  text-transform: uppercase;
  border: none;
  border-radius: none;
  font-size: 20px;
  width: 30%;
  margin: 0 auto;
  display: block;
}

.seven {
  margin-left: 0;
}

.get-started-button:hover {
  color: #FFF;
  background-color: #d2171e;
  cursor: pointer;
}

.get-started-bottom {
  margin-bottom: 80px;
}

p.redeem-p {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  display: block;
}



@media (max-width: 900px) {
  .get-started {
    margin-top: 500px;
  }
}





@media (max-width: 830px) {
  .get-started {
    margin-top: 450px;
  }
}




@media (max-width: 720px) {
  .get-started {
    margin-top: 400px;
  }
}

















