@media (min-width: 980px) and (max-width: 1170px) {
.banner_container:after
{
display:none;
}
.get_container_top:after
{
  display:none;
}
.register_container::after
{
  display:none;
}
.categoryitems {
  margin: -1px 0;
}
.register_container_2::after
{
  display:none;
}
}

@media (min-width: 800px) and (max-width: 943px) {
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
 }
/* index page responsive start*/
 .auto_container {
  margin: auto;
  width:99%;
}
.detail {
  float: left;
  position: relative;
  width:33%;
}
.detail_con {
  background-color: #d4d4d4;
  float: left;
  padding: 33px 3%;
  width: 100%;

}
.we {
  padding-top: 56px;
}
.table {
  display: block;
  float: left;
  width: 100%;
}
.table_n
{
  display:block !important;
}
.hide
{
  display:none !important;
}
.banner_container:after
{
display:none;
}
.get_container_top:after
{
  display:none;
}
.register_container::after
{
  display:none;
}
/* index page responsive end*/
.categoryitems {
  margin: -1px 0;
}

}
@media screen and (max-width: 873px)
{
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
/* terms_and_conditions page responsive start*/
.footer_in {
  margin: auto;
  width: 94%;
}
.footer_left {
  width: 53%;
}
.footer_right {
  width: 250px;
}
.faq_inner {
  margin: auto;
  width: 90%;
}
.faq_outer {
  width: 100%;
  padding:43px 0;
}
.header_faq {
  padding: 10px 1%;
}
.header_logo {
  float: none;
  width: 185px;
  margin: auto;
}

/* terms_and_conditions page responsive end*/

.banner_in h1 {
  padding: 68px 0 0;
}
.get_container_bottom_text p {
  padding: 48px 8px 107px 0;
}

.table {
  display: block;
  float: left;
  width: 100%;
}
.table_n
{
  display:block !important;
}
.hide
{
  display:none !important;
}
.banner_container:after
{
display:none;
}
.get_container_top:after
{
  display:none;
}
.register_container::after
{
  display:none;
}
.categoryitems {
  margin: -1px 0;
}
.enter_form {
  margin: auto;
  width: 100%;
}
.enter_in {
  float: left;
  margin: 53px 0 0;
  width: 100%;
}
.list_top {
    margin-right: 17px;
  width: 30%;
}

#granlogo {
  margin: 10px;
}
}

@media screen and (max-width: 712px)
{
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
.banner_container::after
{
  display:none;
}
.get_container_top::after
{
  display:none;
}.banner_in h1 {
  padding: 19px 0 0;
}
.contant_container {
  padding: 49px 2% 24px;
}
.contant_top {
  padding-bottom: 12px;
}
.contant_visit p {
  font-size: 20px;
  line-height: 30px;
}
.contant_visit span {
  font-size: 15px;
  line-height: 24px;
}
.get_container_top {
  padding: 28px 0 23px;
}
.contant_in {
  margin: auto;
  width: 95%;
}



.banner_in p {
  padding: 20px 9%;
}

.banner_in h1 {
  padding: 52px 0 0;
}
.get_container_bottom_text p {
  padding: 23px 16px 107px ;
}

.get_container_bottom_text p {
  font-size: 14px;
  line-height: 18px;
}
.get_container {
  float: left;
  margin-bottom: 52px;
  width: 100%;
}
.faq_inner h3 {
  font-size: 18px;
  margin-bottom: 26px;
}
.enter_form_bottom {
  padding: 74px 0 60px;
  width: 100%;
}

}

@media screen and (max-width: 872px)
{
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
.register_container::after {
  left: 43%;
  top: 247px;
}
}





@media screen and (max-width: 813px)
{
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
/* index page responsive start*/
 .auto_container {
  margin: auto;
  width:99%;
}
.we {
  padding-top: 36px;
}
.banner_top h1 {
  font-size: 42px;
}
.detail {
  width: 33%;
}
.detail_con {
  padding: 21px 18px;
  width: 100%;
}
.detail_text {
  font-size: 13px;
}
.more_detail {
  font-size: 11px;
  margin-top: 18px;
  width: 126px;
}
.faq_inner h3 {
  font-size: 18px;
  margin-bottom: 26px;
}
.faq_inner h3 span {
  font-size: 20px;
}

 .header_container {
    padding-bottom: 0;
  }
/* index page responsive end*/
}
@media screen and (max-width: 644px)
{
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
/* index page responsive start*/
.detail {
  width: 100%;
  margin-bottom: 22px;
}
br {
  display: none;
}
.banner_top h1 {
  font-size: 29px;
}
.more_detail {
  float: none;
  font-size: 11px;
  margin: 18px auto 0;
  width: 200px;
}
/* index page responsive end*/
.faq_inner h3 {
  font-size: 27px;
  margin-bottom: 26px;
}
.register_container::after {
  display:none; 
}
.register_form {
  margin: auto;
  width: 95%;
}
.register_form_in {
  float: left;
  margin-top: 50px;
  width: 100%;
}
.text_input {
  width: 48%;
}
.register_top {
  padding: 40px 0 40px;
}
.banner_in p {
  font-size: 23px;
  line-height: 28px;
}
.get_container_bottom_text {
  position: relative;
}

.get_container_bottom_text p {
  font-size: 16px;
  line-height: 18px;
  color:#000;
  padding: 23px 16px 0;
  margin-top: 50px;
}

.get_container_bottom img {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  display: none;
}
.get_container_bottom_text p a {
  color: #000;
}
.faq_inner h3 {
  font-size: 18px;
  margin-bottom: 26px;
}

.list_top {
  margin-right: 17px;
  width: 100%;
  margin-bottom: 17px;
}
.enter_in {
  float: left;
  margin: 18px 0 0;
  width: 100%;
}
.detail_con {
  padding: 21px 18px 0;
  width: 100%;
}

}
@media screen and (max-width: 513px)
{
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
.faq_outer {
  padding: 20px 0;
  width: 100%;
}
.faq_inner h3 {
  font-size: 27px;
  margin-bottom: 10px;
  text-align: center;
}
.faq_inner h3 span {
  font-size: 28px;
}
.list_con li {
  font-size: 15px;
  padding-bottom: 13px;
}
.footer_left {
  width: 100%;
  text-align: center;
  margin-bottom:15px;
}
.footer_right {
  float: none;
  margin: auto;
  width: 240px;
}

.nb h3
{
  font-size:16px;
  text-align:left;
}

.register_form_in h2 {
  font-size: 31px;
  letter-spacing: 2px;
  margin: 27px 0;
}
.thanks {
  font-size: 27px !important;
}
.register_form_in span {
  margin: 32px 0;
}
}




@media screen and (max-width: 479px)
{
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
/* index page responsive start*/
.banner_top h1 {
  font-size: 21px;
}
.we {
  padding-top: 23px;
}
.detail_text {
  font-size: 12px;
}
.more_detail {
  font-size: 11px;
  margin-top: 10px;
  width: 126px;
}
.footer_container {
  background-color:#ac0028;
  float: left;
  padding: 18px 0;
  width: 100%;
  color: #000;
}
.faq_inner h3 {
  font-size: 23px;
  margin-bottom: 10px;
  text-align: center;
}
.faq_inner h3 span {
  font-size: 21px;
}
/* index page responsive end*/
.nb h3
{
  font-size:14px;
  text-align:left;
}
.text_input {
  width: 100%;
}
.check_box p {
  font-size: 13px;
}
.register_top h3 {
  font-size: 26px;
}
.register_top {
  padding: 28px 0;
}
.submit_btn {
  margin: 0 auto;
  width: 100%;
}
/*.submit_btn_in {
  float: left;
  margin-top: 28px;
  width: 83%;
}*/
.banner_in h1 {
  padding: 31px 0 0;
}
.contant_container {
  padding: 24px 2% ;
}
.contant_top h2 {
  font-size: 28px;
  padding-bottom: 8px;
}
.contant_visit {
  padding: 6px 0 9px;
  width: 100%;
}
.contant_visit p {
  font-size: 16px;
  line-height: 24px;
}
.contant_visit span {
  font-size: 14px;
  line-height: 21px;
}

.contant_top
{
  padding-top:30px;
}

 #granlogo {
    width: 100%;
    margin-left: 0;
  }

  .header_container {
    padding-bottom: 0;
  }

  .get_container_bottom_text p {
    font-size: 14px;
    line-height: 18px;
    color:#000;
    padding: 23px 16px 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .register_container {
    margin-top: 200px;
  }



}

@media screen and (max-width: 407px)
{
  * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  }
  .banner_in p {
    font-size: 18px;
    line-height: 21px;
  }

  .contant_top h2 {
    font-size: 23px;
    padding-bottom: 8px;
  }

  .register_top {
    margin-top: 50px;
  }

  #granimage {
    display: none;
  }

  .get_container_bottom_text {
    margin-top: 60px;
    margin-bottom: 0;
    height: 280px;
  }

  #powered {
    margin-left: 18px;
  }

  .contant_top h2 {
    font-size: 26px;
  }

  .contant_top p, .contant_visit p {
    font-size: 18px;
  }

  .header_nav {
    padding-top: 15px;
  }

  .header_container {
    padding-bottom: 0;
  }

  .register_top {
    margin-top: 0;
  }

}






@media screen and (max-width: 333px)
{
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
/* index page responsive start*/
.detail_text {
  font-size: 11px;
}
.more_detail {
  font-size: 11px;
  margin-top: 10px;
  width: 126px;
}
.faq_inner h3 {
  font-size: 20px;
}
.faq_inner h3 span {
  font-size: 20px;
}

/* index page responsive ewnd*/
.banner_in p {
  font-size: 15px;
  line-height: 20px;
}
.nb h3 {
  font-size: 14px;
  text-align: left;
}

.banner_in h1 {
  font-size: 30px;
}

}





@media screen and (max-width: 875px)
{

/*   Navigation Button
  -------------------------------------------------------- */

  .nav-button {
    display: block!important;
    position: relative;
    top: 0;
    right:0px;
    width:100%;
    height: 46px;
    background:#e8d2d2 url(../images/menu-icon-large.png);
    background-position: right 10px;
    background-repeat: no-repeat;
    background-size: 37px, 100%;
    cursor: pointer;
    border: 0 none;
    z-index: 999;
    text-indent:10px;
    text-align:left;
    color:#fff;
  }
  
  .nav-button.open {
    background:#e8d2d2 url(../images/close-icon-large.png);
    background-position: right 10px;
    background-repeat: no-repeat;
    background-size: 37px, 100%;
  }

/*   Navigation Bar
  -------------------------------------------------------- 
*/

  .primary-nav {
    width: 100%;
    float: none;
    background-color: #bd9c6b;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    display: none;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    position: relative;
    top:0;
    left: 0px;
    z-index: 998;
    clear: both;
  }
  .primary-nav li {
    display: none;
    width: 100%;
    font-family: Arial;
    text-align:left;
  }
  .primary-nav li a {
    display: block!important;
    width: 100%;
    padding: 10px 3% !important;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-bottom:1px solid #a4a49a;
  }
  .primary-nav.open { 
    height: auto; 
    display:block;
  }
  .primary-nav.open li { 
    display: block; 
  }
  .primary-nav ul
  {
    min-height:inherit;
  }
  
.navbar li a {
  border:none;
}
.navbar li a:hover
{
  border:none;
}
.primary-nav li a:hover
{
  background-color:#fff;
  transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
color:#000;
}
.navbar li {
  margin:0px;
}
.header_faq {
  padding: 10px 0 0 !important;
}
.auto_container {
  margin: auto;
  width: 100%;
}
.header_nav {
  width: 100%;
}
.header_nav li {
  padding: 0 0;
}
.faq_inner {
  margin: auto;
  width: 90%;
  padding: 0 4%;
}
}
button {
  display: none;
}


#granlogo {
  margin: 0 auto;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
}

.header_container {
  padding-bottom: 0;
}
}


