body {
  background-color: #FFF;
  font-family: 'Century Gothic';
  font-size: 14px;
  color: #000;
  width: 650px;
  height: auto;
  margin: 0 auto;
}

.email-container {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.top {
  padding: 50px 0 20px 0;
  width: 650px;
}

.banner-img {
  width: 650px;
  margin: 0 auto;
  display: block;
}

.question {
  text-align: left;
  color: #0072bc;
  margin-top: 30px;
}

.less-margin {
  margin-top: 15px;
}

.question-top {
  text-align: left;
  color: #0072bc;
}

a {
  color: rgb(247, 161, 26);
  font-style: bold;
  text-decoration: none;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
}


.middle {
  width: 650px;
  height: auto;
}

.stat {
  width: 650px;
  height: auto;
  margin: 0 auto;
  display: block;
}